/**
 * Shame CSS
 *
 * Dedicated stylesheet to house quick fixes and hacks that can be refactored
 * at a later time. Please make sure to use !important if you are overriding
 * existing styling and make sure to document your changes.
 *
 * Remember to enque the file in the assets function in app/setup.php
 */

.widget {
  padding: 30px;
  color: white;
  background-color: #496387;
}

.widget ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.widget li {
  margin-bottom: 10px;
}

.widget li a {
  color: currentColor;
  text-decoration: none;
}

.cat-item {
  font-size: 1.3125rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
