/**
 * Shame CSS
 *
 * Dedicated stylesheet to house quick fixes and hacks that can be refactored
 * at a later time. Please make sure to use !important if you are overriding
 * existing styling and make sure to document your changes.
 *
 * Remember to enque the file in the assets function in app/setup.php
 */

footer hr {
  background-color: #d8d8d8;
  border-top: 0;
}

.row {
  margin-bottom: 30px;
}

.widget {
  padding: 30px;
  color: white;
  background-color: #496387;
}

.widget ul {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.widget li {
  margin-bottom: 10px;
  font-size: 1.3125rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.widget li a {
  color: currentColor;
  text-decoration: none;
}

.page-template-template-home .section--5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 1024px) {
  .page-template-template-home .section--5 {
    padding-top: 180px;
    padding-bottom: 180px;
  }

  #gform_wrapper_13 .gform_body {
    width: calc(100% - 137px);
  }

  #gform_wrapper_13 .gfield {
    margin-bottom: 0;
  }

  #gform_13 {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
  }

  .sub-menu--mega--2 {
    max-width: 500px;
  }

  .hero {
    max-height: 480px;
  }

  .logged-in .js-sticky.is-sticky {
    top: 32px;
  }
}

@media (min-width: 1336px) {
  #gform_wrapper_13 .gform_footer {
    width: calc(100% - 484px);
  }

  .sub-menu--mega--2 {
    right: -100px;
  }
}

@media (min-width: 1024px) and (max-width: 1335px) {
  .nav--header .nav__list > .menu-item > a {
    font-size: 0.875rem;
  }

  .sub-menu--mega {
    right: -508px;
  }

  .sub-menu--mega--2 {
    right: -100px;
  }
}

#gform_wrapper_13 .gfield_label {
  color: white;
}

.sub-menu--mega {
  z-index: 60;
}
